<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="com.selex-es.miur">
    <resources>
		<resource-root path="sidi-profile-1.1.0-SNAPSHOT.jar"/>
		<!-- oc4j -->
		<resource-root path="oc4j-internal-1.0.0.jar"/>
		<resource-root path="optic-1.0.0.jar"/>
		<resource-root path="DBProf-1.0.0.jar"/>
		<resource-root path="sidi-servizi-esterni-1.0.0.jar"/>
		<resource-root path="ldapjclnt10-1.0.0.jar"/>
		<!-- pdf -->
		<resource-root path="itextpdf-5.5.1.jar"/>
		<resource-root path="xmlworker-5.5.1.jar"/>
		<!-- xls -->
		<resource-root path="poi-3.10-FINAL.jar"/>
		<!-- file upload -->
		<resource-root path="commons-fileupload-1.3.1.jar"/>
		
		<!-- json -->
		<resource-root path="jackson-core-2.3.3.jar"/>
		<resource-root path="jackson-databind-2.3.3.jar"/>
		<resource-root path="jackson-annotations-2.3.0.jar"/>
		<!-- sprig -->
        <resource-root path="aopalliance-1.0.jar"/>
		<resource-root path="aspectjrt-1.8.0.jar"/>
		<resource-root path="spring-aop-4.0.5.RELEASE.jar"/>
		<resource-root path="spring-beans-4.0.5.RELEASE.jar"/>
		<resource-root path="spring-context-4.0.5.RELEASE.jar"/>
		<resource-root path="spring-core-4.0.5.RELEASE.jar"/>
		<resource-root path="spring-data-commons-1.8.0.RELEASE.jar"/>
		<resource-root path="spring-data-jpa-1.6.0.RELEASE.jar"/>
		<resource-root path="spring-expression-4.0.5.RELEASE.jar"/>
		<resource-root path="spring-jdbc-3.2.9.RELEASE.jar"/>
		<resource-root path="spring-orm-3.2.9.RELEASE.jar"/>
		<resource-root path="spring-security-acl-3.2.4.RELEASE.jar"/>
		<resource-root path="spring-security-config-3.2.4.RELEASE.jar"/>
		<resource-root path="spring-security-core-3.2.4.RELEASE.jar"/>
		<resource-root path="spring-security-taglibs-3.2.4.RELEASE.jar"/>
		<resource-root path="spring-security-web-3.2.4.RELEASE.jar"/>
		<resource-root path="spring-tx-4.0.5.RELEASE.jar"/>
		<resource-root path="spring-web-4.0.5.RELEASE.jar"/>
		<resource-root path="spring-webmvc-4.0.5.RELEASE.jar"/>
		
    </resources>
    <dependencies>
		  <module name="javax.api" export="true"/>
		  <module name="javax.ejb.api" export="true"/>
		  <module name="javax.servlet.api" export="true"/>
		  <module name="javax.servlet.jsp.api" export="true"/>
		  <module name="javax.servlet.jstl.api" export="true"/>
		  <module name="javax.persistence.api" export="true"/>
		  <module name="javax.transaction.api" export="true"/>
		  <module name="javax.validation.api" export="true"/>
		  <module name="org.jboss.vfs" export="true"/>
		  <module name="org.jboss.logging" export="true"/>
		  <module name="org.apache.commons.logging" export="true"/>
		  <module name="org.apache.commons.lang" export="true"/>
		  <module name="org.apache.commons.io" export="true"/>
		  <module name="org.apache.log4j" export="true"/>
		  <module name="org.antlr" export="true"/>
		  <module name="org.dom4j" export="true"/>
		  <module name="org.hibernate" export="true"/>
		  <module name="org.hibernate.validator" export="true"/>
		  <module name="org.javassist" export="true"/>
		  <module name="org.slf4j" export="true"/>
		  <module name="org.codehaus.jettison" export="true" />
    </dependencies>
</module>